<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
    <link rel="stylesheet" href="./styles/inputform.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="login">
                <h1>Set your budget</h1>
                <div class="login-box">
                    <form action="/set-budget" method="post" encType="multipart/form-data">
                        <div class="items">
                            <div class="user-box" style="width: 550px;">
                                <input type="number" name="inputFormAmount" required="" placeholder="">
                                <label>Amount</label>
                            </div>
                        </div>
                        <div class="signup">
                            <button type="submit" class="btn">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                submit
                              </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>