*{
    margin: 0;
    padding: 0;
}

.expense-list{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.receipt-details{
    display: flex;
}


.receipt-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.receipt-img{
    width: 50%;
}

.receipt-text{
    width: 50%;
}
.tag{
    display: flex;
    justify-content: end;
    padding: 5px;
}

.description{
    padding: 5px;
}

.payment-method{
    padding: 10px;
}

.chart-right{
    height: 800px;
}

.section{
    display: flex;
    
}

body::-webkit-scrollbar {
    display: none;
}